MONGO_URI=
PORT=5004
JWT_SECRET=
JWT_EXPIRE=30d

FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=CaseSnap

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

RESPONSE_ENCRYPTION_KEY=
